[submodule "Desafios_html_web_developer/trilha-fork"]
	path = Desafios_html_web_developer/trilha-fork
	url = https://github.com/sthrodri/trilha-html-modulo-2.git
[submodule "Desafios_html_web_developer/Segundomodulo"]
	path = Desafios_html_web_developer/Segundomodulo
	url = https://github.com/sthrodri/trilha-html-modulo-2.git
[submodule "Desafios_html_web_developer/Terceiro_modulo"]
	path = Desafios_html_web_developer/Terceiro_modulo
	url = https://github.com/sthrodri/trilha-html-modulo-3.git
[submodule "Desafios_html_web_developer/Primeiro_modulo"]
	path = Desafios_html_web_developer/Primeiro_modulo
	url = https://github.com/sthrodri/trilha-html-modulo-1.git
