[submodule "Desafios_html_web_developer/Modulo_1"]
	path = Desafios_html_web_developer/Modulo_1
	url = https://github.com/sthrodri/trilha-html-modulo-1.git
[submodule "Desafios_html_web_developer/Modulo_2"]
	path = Desafios_html_web_developer/Modulo_2
	url = https://github.com/sthrodri/trilha-html-modulo-2.git
[submodule "Desafios_html_web_developer/Modulo_3"]
	path = Desafios_html_web_developer/Modulo_3
	url = https://github.com/sthrodri/trilha-html-modulo-3.git
[submodule "Desafios_html_web_developer/curriculo_online"]
	path = Desafios_html_web_developer/curriculo_online
	url = https://github.com/Sthrodri/curriculo_online.git
